@font-face {
    font-family: KhmerOSMoul;
    src: url("../fonts/KhmerOSMoul.ttf");
}

@font-face {
    font-family: NiDAKhmerEmpire;
    src: url("../fonts/NiDAKhmerEmpire.ttf");
}

@page {
    margin: 0
}

.print-option {
    display: none;
}

table:hover .print-option {
    display: inherit;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 0.810em;
    font-family: inherit;
    margin: 10px auto;
    width: 100%;
}

.table+.table {
    margin-top: 20px
}

.table-xs td,
.table-xs th {
    border: 1px solid #ccc;
    padding: .3rem .7rem !important;
    font-size: .8rem !important;
}

.table-xs td,
.table-xs th {
    vertical-align: middle;
}

.table-no-border th,
.table-no-border td {
    border-color: transparent !important;
}

.invisible {
    visibility: collapse;
}

.sheet {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    page-break-after: always;
}

/** Paper sizes **/
.A3 .sheet {
    width: 297mm;
    height: 419mm;
    size: portrait;
}

.A3.landscape .sheet {
    width: 420mm;
    height: 296mm;
    size: landscape;
}

.A4 .sheet {
    width: 210mm;
    height: 296mm;
    size: portrait;
}

.A4.landscape .sheet {
    width: 296mm;
    height: 210mm;
    size: landscape;
}

.A5 .sheet {
    width: 148mm;
    height: 209mm;
    size: portrait;
}

.A5.landscape .sheet {
    width: 210mm;
    height: 147mm;
    size: landscape;
}

/** Padding area **/
.sheet.padding-5mm {
    padding: 5mm
}

.sheet.padding-10mm {
    padding: 10mm
}

.sheet.padding-15mm {
    padding: 15mm
}

.sheet.padding-20mm {
    padding: 20mm
}

.sheet.padding-25mm {
    padding: 25mm
}

[id^="stage"] {
    margin: auto;
    padding: 1px !important;
    border: 1px solid rgb(0, 0, 0, 0.1) !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.btn {
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    letter-spacing: .025em;
    text-transform: none;
    will-change: transform;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.5;
    display: inline-block;
    padding: .625rem 1.25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

button,
footer {
    font-family: Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', "Open Sans", monospace, "Khmer OS Battambang" !important;
}

label {
    font-size: 14px;
}

footer {
    font-weight: 600;
    text-align: center;
}

body {
    display: flex;
    margin: 0;
    background: gainsboro;
    font-family: Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', "Open Sans", monospace, "Khmer OS Battambang" !important;
}

.d-none {
    display: none;
}

.nodata {
    height: 200px !important;
}

.nodata .nodata-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 1.2rem;
    color: #ee5050;
}

.table {
    border: 0 none;
    height: auto;
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
    white-space: nowrap;
}

/* side menu */
.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 400px;
    height: 100%;
    backface-visibility: hidden;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: webkit-transform 220ms ease-in-out;
    transition: transform 220ms ease-in-out;
    background: #fff;
}

.side-menu.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

/* content */
.content {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.22s ease-out;
    -moz-transition: all 0.22s ease-out;
    -o-transition: all 0.22s ease-out;
    transition: all 0.22s ease-out;
    padding: 0 10px;
}

@media only screen and (min-width: 768px) {
    .side-menu .side-menu-pin-trigger {
        display: inline-block;
    }

    .side-menu.open {
        box-shadow: initial;
    }

    .side-menu.open.pinned~.content {
        left: 450px;
    }
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/** For screen preview **/
@media screen {
    .sheet {
        background: white;
        box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
        margin: 5mm auto;
    }
}

/** Fix for Chrome issue #273306 **/
@media print {
    .A3.landscape {
        width: 420mm;
        size: landscape;
    }

    .A3,
    .A4.landscape {
        width: 297mm;
        size: landscape;
    }

    .A4,
    .A5.landscape {
        width: 210mm;
        size: landscape;
    }

    .A5 {
        width: 148mm
    }

    .d-print-none {
        display: none !important
    }

    *,
    ::after,
    ::before {
        box-shadow: none !important;
        text-shadow: none !important
    }

    .table-bordered td,
    .table-bordered th {
        border: 1px solid #dee2e6 !important
    }

    .content {
        position: relative;
    }
}

.dot {
    border-bottom: 1px dashed #ccc;
    height: 20px;
}

.dot:last-child {
    margin-bottom: 10px;
}

.ol-flex {
    /* display: flex; */
}

.ol-flex li {
    margin-inline-end: auto;
}

li.dl:after {
    content: attr(title);
}
